/* CSS declarations go here */
.md-nav-bar {
	border-style: none !important;
}

.md-nav-bar .md-button._md-nav-button.md-unselected {
	color: white;
}

.nav-bar-date {
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}

.md-nav-item button.md-button {
	color: white !important;
}

md-divider {
	padding: 10px 10px;
}

span.label {
	display: inline-block;
	width: 100px;
	min-width: 100px !important;
}

.bean-card-header {
	height: 60px;
    display: block;
}

.badge {
	cursor: default;
    border-radius: 16px;
    max-width: 100%;
    position: relative;
    padding: 5px 10px;
    font-size: 80%;
    font-weight: 500;
    margin: 0 5px;
    color: white;
    background-color: grey;
}

.bean-action {
	padding: 0 25px;
	margin: 0;
}