<div>
	<md-card class="md-block">
    <bean-card-content bean="vm.todaysBean"></bean-card-content>
  </md-card>
  <md-divider></md-divider>
  <div layout-align="space-around center" layout="column">
    <form flex="80">
    		<md-input-container>
  				<span class="label">I made a</span>
          <toggle-button values="vm.beverageTypes" ng-model="vm.rating.type"></toggle-button>
			  </md-input-container>
			  <md-slider-container>
				  <span class="label">Rating</span>
      			<md-slider flex md-discrete ng-model="vm.rating.score" step="1" min="1" max="5" aria-label="rating">
      			</md-slider>
			  </md-slider-container>
    </form>
    <div class="md-block">
      <md-button ng-click="vm.rate()" class="md-raised md-primary md-button">Rate</md-button>
    </div>
  </div>
  <md-divider></md-divider>
  <div>
    <md-button class="md-raised md-button" ng-repeat="rating in vm.ratings | orderBy: '-lastMod'">
      {{rating.type}} <span class="badge">{{rating.score}}</span>
    </md-button>
  </div>
</div>